body.no-x {
    overflow-x: hidden
}

body.no-y {
    overflow-y: hidden
}

body.no-scroll {
    overflow: hidden
}

@media (max-width: 992px) {
    body.no-y-mobile {
        overflow-y: hidden
    }
}

body.optimized .no-optimizer { display: none; }
body:not(.optimized) .with-optimizer { display: none; }

svg.iconhub > path:not(.--exclude),
svg.iconhub > line:not(.--exclude),
svg.iconhub > rect:not(.--exclude),
svg.iconhub > polygon:not(.--exclude),
svg.iconhub > circle:not(.--exclude),
svg.iconhub > polyline:not(.--exclude) {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px
}

.row * {
    box-sizing: border-box
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 993px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.row.--option-grid > * {
    display: flex;
}
.row.--option-grid > :not(.--full) {
    margin: 8px 0;
}
.row.--option-grid > .-a {
    justify-content: start;
}
.row.--option-grid > .-b {
    justify-content: end;
}
.amt-divider,
.row.--option-grid > .-divider {
    width: 95%;
    height: 2px;
    border-bottom: 1px dashed rgba(var(--amt-text-color-rgb), .2);
    margin: 4px auto 12px;
}

/* Alignment */
.force-center {
    width: max-content;
    margin: auto
}

.text-center {
    text-align: center
}

.text-start {
    text-align: start
}

.text-end {
    text-align: end
}

.text-justify {
    text-align: justify
}

/* Padding all */
.pa-10 {
    padding: 10px;
}

.pa-16 {
    padding: 16px;
}

.pa-20 {
    padding: 20px;
}

.pa-50 {
    padding: 50px;
}

/* Padding top */
.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

/* Padding bottom */
.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

/* Padding left */
.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-50 {
    padding-left: 50px;
}

/* Padding left & right */
.plr-8 {
    padding-right: 8px;
    padding-left: 8px
}

.plr-8-im {
    padding-right: 8px !important;
    padding-left: 8px !important
}

.plr-10 {
    padding-right: 10px;
    padding-left: 10px
}

.plr-20 {
    padding-right: 20px;
    padding-left: 20px
}

.plr-50 {
    padding-right: 50px;
    padding-left: 50px
}

/* Margin all */
.ma-10 {
    margin: 10px
}

.ma-8 {
    margin: 8px
}

.ma-20 {
    margin: 20px
}

.ma-10-im {
    margin: 10px !important
}

.ma-8-im {
    margin: 8px !important
}

.ma-20-im {
    margin: 20px !important
}

/* Margin left & right */
.mlr-0 {
    margin-right: 0;
    margin-left: 0
}

.mlr-0-im {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.mlr-5 {
    margin-right: 5px;
    margin-left: 5px
}

.mlr-8 {
    margin-right: 8px;
    margin-left: 8px
}

.mlr-10 {
    margin-right: 10px;
    margin-left: 10px
}

.mlr-20 {
    margin-right: 20px;
    margin-left: 20px
}

.padding-0 {
    padding: 0
}

.padding-0-im {
    padding: 0 !important
}

.decoration-none {
    text-decoration: none
}

.line-through {
    text-decoration: line-through
}

/* Margin */
.margin-auto {
    margin: auto
}

.margin-auto-im {
    margin: auto !important
}

.margin-0 {
    margin: 0
}

.margin-0-im {
    margin: 0 !important
}

.mt-5 {
    margin-top: 5px
}

.mt-8 {
    margin-top: 8px
}

.mt-8-im {
    margin-top: 8px !important
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-50 {
    margin-top: 50px
}

.mbt-5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.mbt-10 {
    margin-top: 10px;
    margin-bottom: 10px
}
.mbt-10-im {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.mbt-20 {
    margin-top: 20px;
    margin-bottom: 20px
}

.mbt-50 {
    margin-top: 50px;
    margin-bottom: 50px
}

/* Padding */
.pa-7 {
    padding: 7px
}

.pa-7-im {
    padding: 7px !important
}

.tiny-text {
    font-size: 13px;
    line-height: 18px;
}

.tiny-text-im {
    font-size: 13px !important;
}

.small-text {
    font-size: 15px;
}

.small-text-im {
    font-size: 15px !important;
}

.large-text {
    font-size: 18px;
}

.large-text-im {
    font-size: 18px !important;
}

.size-15px {
    font-size: 15px
}

.max-content {
    width: max-content
}

.weight-normal {
    font-weight: normal
}

/* Height */
.h-10 {
    height: 10px
}

.h-20 {
    height: 20px
}

.h-50 {
    height: 50px
}

.h-100 {
    height: 100px
}

/* Width */
.w-10 {
    width: 10px
}

.w-20 {
    width: 20px
}

.w-50 {
    width: 50px
}

.w-100 {
    width: 100px
}

.min-w-100 {
    min-width: 100px
}

.max-w-100 {
    max-width: 100px
}

.max-w-30ch {
    max-width: 30ch !important
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Offset */
.offset {
    position: relative
}

.offset.b2 {
    bottom: -2px
}

.offset.b3 {
    bottom: -3px
}

.offset.b5 {
    bottom: -5px
}

.offset.t2 {
    top: -2px
}

.offset.t3 {
    top: -3px
}

.offset.t5 {
    top: -5px
}

.size-1 {
    font-size: 14px
}

.size-2 {
    font-size: 16px
}

.size-3 {
    font-size: 18px
}

.size-4 {
    font-size: 22px
}

.size-5 {
    font-size: 24px
}

.size-6 {
    font-size: 26px
}

.font-title { font-family: var(--amt-title-font) }
.font-title-im { font-family: var(--amt-title-font) !important }

.line-height-22 {
    line-height: 22px;
}

.w-bold {
    font-weight: bold
}

.w-normal {
    font-weight: normal
}

.no-shadow {
    box-shadow: none
}

.no-border {
    border: none
}

.clickable { cursor: var(--amt-pointer) }
.clickable-im { cursor: var(--amt-pointer) !important }
.movable { cursor: move }
.movable-im { cursor: move !important }

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.lower-case { text-transform: lowercase }
.upper-case { text-transform: uppercase }
.uc-first { text-transform: capitalize }
.lower-case-im { text-transform: lowercase !important }
.upper-case-im { text-transform: uppercase !important }
.uc-first-im { text-transform: capitalize !important }

.color-red {
    color: var(--amt-color-red)
}

.color-red-im {
    color: var(--amt-color-red) !important
}

.color-green {
    color: var(--amt-color-green)
}

.color-green-im {
    color: var(--amt-color-green) !important
}

.color-blue {
    color: var(--amt-color-blue)
}

.color-blue-im {
    color: var(--amt-color-blue) !important
}

.color-orange {
    color: var(--amt-color-orange)
}

.color-orange-im {
    color: var(--amt-color-orange) !important
}

.color-white {
    color: var(--amt-color-white)
}

.color-white-im {
    color: var(--amt-color-white) !important
}

.color-black {
    color: var(--amt-color-black)
}

.color-black-im {
    color: var(--amt-color-black) !important
}

.color-primary {
    color: var(--amt-primary)
}

.color-primary-im {
    color: var(--amt-primary) !important
}

body.light .light-color-primary-im { color: var(--amt-primary) !important }
body.dark .dark-color-primary-im { color: var(--amt-primary) !important }

.color-low {
    color: rgba(var(--amt-text-color-rgb), .9)
}

.color-low-im {
    color: rgba(var(--amt-text-color-rgb), .9) !important
}

.color-title {
    color: var(--amt-title-color)
}

.color-title-im {
    color: var(--amt-title-color) !important
}

.color-text {
    color: var(--amt-text-color)
}

.color-text-im {
    color: var(--amt-text-color) !important
}

.color-current {
    color: currentColor;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--amt-primary);
    color: #fff;
    padding: 8px 12px;
    border-radius: 30px;
    margin: 8px;
    width: max-content;
    min-width: 50px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge.--marker {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 13px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    padding: 0;
}

.badge.--sm {
    min-width: 50px;
    padding: 4px 14px;
    font-size: 13px;
    margin: 4px;
}

.badge > ._icon_ {
    width: 15px;
    height: max-content;
    font-size: 15px;
    margin: 0 4px;
    cursor: var(--amt-pointer);
}

.badge.--text.bg-primary {
    background: rgba(var(--amt-primary-rgb), .2);
    color: var(--amt-primary);
}
.badge.--text.bg-red {
    background: rgba(var(--amt-color-red-rgb), .2);
    color: var(--amt-color-red);
}
.badge.--text.bg-green {
    background: rgba(var(--amt-color-green-rgb), .2);
    color: var(--amt-color-green);
}
.badge.--text.bg-blue {
    background: rgba(var(--amt-color-blue-rgb), .2);
    color: var(--amt-color-blue);
}
.badge.--text.bg-orange {
    background: rgba(var(--amt-color-orange-rgb), .2);
    color: var(--amt-color-orange);
}

.bg-red {
    background: var(--amt-color-red)
}

.bg-red-im {
    background: var(--amt-color-red) !important
}

.bg-green {
    background: var(--amt-color-green)
}

.bg-green-im {
    background: var(--amt-color-green) !important
}

.bg-blue {
    background: var(--amt-color-blue)
}

.bg-blue-im {
    background: var(--amt-color-blue) !important
}

.bg-orange {
    background: var(--amt-color-orange)
}

.bg-orange-im {
    background: var(--amt-color-orange) !important
}

.bg-white {
    background: var(--amt-color-white)
}

.bg-white-im {
    background: var(--amt-color-white) !important
}

.bg-black {
    background: var(--amt-color-black)
}

.bg-black-im {
    background: var(--amt-color-black) !important
}

.bg-primary {
    background: var(--amt-primary)
}

.bg-primary-im {
    background: var(--amt-primary) !important
}

.bg-x-low {
    background: var(--amt-primary-x-low)
}

.bg-x-low-im {
    background: var(--amt-primary-x-low) !important
}

.bg-none {
    background: none
}

.bg-none-im {
    background: none !important
}

.bg-low {
    background: rgba(var(--amt-text-color-rgb), .9)
}

.bg-title {
    background: var(--amt-title-color)
}

.bg-text {
    background: var(--amt-text-color)
}

.col-justify {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .pa-col {
        padding: 10%;
    }

    .margin-auto-mb {
        margin: auto;
    }

    .row.mobile-reverse {
        flex-direction: row-reverse !important;
    }
    .no-mobile {
        display: none !important
    }
    .mobile-center {
        text-align: center;
    }
    .mobile-order-2 {
        order: 2;
    }
}

@media ( min-width: 993px) {
    .pa-col {
        padding: 5% 10%;
    }

    .margin-auto-dk {
        margin: auto;
    }

    .row.desktop-reverse {
        flex-direction: row-reverse !important;
    }

    .no-desktop {
        display: none !important
    }
    .desktop-center {
        text-align: center;
    }
}

.waiting {
    opacity: .7;
    pointer-events: none;
    user-select: none;
}

.flex-align,
.flex-center,
.flex-ratio-1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}

.inline-flex-center {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

.inline-flex-center.spaced > * {
    margin: 0 4px;
}

.flex-items-margin-8 > * {
    margin: 8px;
}

.flex-ratio-1 {
    aspect-ratio: 1;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-50 {
    gap: 50px;
}

.dir-rtl { direction: rtl }
.dir-ltr { direction: ltr }
.dir-unset { direction: unset }

.font-montserrat {
    font-family: 'montserrat', var(--amt-font-family);
}

.amt-opt-grid {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    margin: 8px
}

.amt-opt-grid > div {
    display: block;
    flex: 1;
    color: rgba(var(--amt-text-color-rgb), .9);
    padding-inline-start: 8px
}

.amt-opt-grid > div:first-child {
    text-align: start
}

.amt-opt-grid > div:last-child {
    text-align: end
}

.image-fit {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 10px;
    margin: unset;
}
.image-fit.--start { margin-inline-end: auto }
.image-fit.--end { margin-inline-start: auto }
.image-fit.--circle { border-radius: 50% }
.image-fit > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-title,
.icon-title > ._icon_,
.icon-title > ._text_ {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icon-title > ._icon_,
.icon-title > ._text_ {
    justify-content: center;
    margin-inline-end: 10px;
    width: 30px;
    height: auto;
    aspect-ratio: 1;
}

.icon-title.--boxed > ._icon_,
.icon-title.--boxed > ._text_ {
    background: var(--amt-primary);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
}
.icon-title.--boxed > ._text_ {
    font-size: 22px;
    line-height: 0;
    font-family: var(--amt-title-font);
}
.icon-title.--boxed.--circle > ._icon_,
.icon-title.--boxed.--circle > ._text_ {
    border-radius: 50%;
}

.icon-title.--red > ._icon_,
.icon-title.--red > ._text_ {background: var(--amt-color-red) }

.icon-title.--green > ._icon_,
.icon-title.--green > ._text_ {background: var(--amt-color-green) }

.icon-title.--blue > ._icon_,
.icon-title.--blue > ._text_ {background: var(--amt-color-blue) }

.icon-title.--orange > ._icon_,
.icon-title.--orange > ._text_ {background: var(--amt-color-orange) }