.btn.ellipsis, .btn-text.ellipsis, .btn-outline.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 20ch;
}

.btn.flex-center {
    display: inline-flex !important;
    gap: 8px;
}

.btn.rainbow {
    animation: color_rainbow ease 10s infinite;
}

.btn.text.rainbow {
    animation: color_rainbow_text ease 10s infinite;
}

@keyframes color_rainbow {
    0% {
        background: rgba(var(--amt-primary-rgb), .8);
    }
    20% {
        background: rgba(var(--amt-color-red-rgb), .8);
    }
    40% {
        background: rgba(var(--amt-color-green-rgb), .8);
    }
    60% {
        background: rgba(var(--amt-color-blue-rgb), .8);
    }
    80% {
        background: rgba(var(--amt-color-orange-rgb), .8);
    }
    100% {
        background: rgba(var(--amt-primary-rgb), .8);
    }
}

@keyframes color_rainbow_text {
    0% {
        background: rgba(var(--amt-primary-rgb), .2);
        color: var(--amt-primary);
    }
    20% {
        background: rgba(var(--amt-color-blue-rgb), .2);
        color: var(--amt-color-blue);
    }
    40% {
        background: rgba(var(--amt-color-red-rgb), .2);
        color: var(--amt-color-red);
    }
    60% {
        background: rgba(var(--amt-color-green-rgb), .2);
        color: var(--amt-color-green);
    }
    80% {
        background: rgba(var(--amt-color-orange-rgb), .2);
        color: var(--amt-color-orange);
    }
    100% {
        background: rgba(var(--amt-primary-rgb), .2);
        color: var(--amt-primary);
    }
}