.ht-input, .ht-input > input {
    font-family: var(--amt-font-family)
}

.ht-input input:-webkit-autofill,
.ht-input input:-webkit-autofill:hover,
.ht-input input:-webkit-autofill:focus,
.ht-input input:-webkit-autofill:active{
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--amt-text-color) !important;
    transition: background-color 5000s ease-in-out 0s !important;
    box-shadow: inset 0 0 20px 20px transparent !important;
}

.ht-input {
    position: relative;
    display: block;
    background: var(--amt-input-bg);
    padding: 20px 0 0;
    margin: 8px 8px 16px;
    cursor: text;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    transition: all ease .3s
}

.ht-input.--navbar-search { border-radius: 30px }

.ht-input.invalid:before,
.ht-input.valid:before,
.ht-input.info:before,
.ht-input.warning:before {
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    transition: background-color ease .3s
}

.ht-input.invalid:before {
    background: rgba(var(--amt-color-red-rgb), .2);
}
.ht-input.invalid {
    border-color: rgba(var(--amt-color-red-rgb), .2);
}
.ht-input.valid:before {
    background: rgba(var(--amt-color-green-rgb), .2);
}
.ht-input.valid {
    border-color: rgba(var(--amt-color-green-rgb), .2);
}
.ht-input.info:before, .ht-input.warning:before {
    background: rgba(var(--amt-color-blue-rgb), .2);
}
.ht-input.info, .ht-input.warning {
    border-color: rgba(var(--amt-color-blue-rgb), .2);
}

.ht-input.warning:before {
    background: rgba(var(--amt-color-orange-rgb), .2);
}
.ht-input.warning {
    border-color: rgba(var(--amt-color-orange-rgb), .2);
}

.ht-input.round {
    border-radius: 30px
}

.ht-input > input {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: 0 0;
    color: var(--amt-text-color);
    font-size: 15px;
    height: 30px;
    padding: 0 16px;
    width: 100%
}

body.rtl .ht-input > input {
    text-align: right
}
body.ltr .ht-input > input {
    text-align: left
}
.ht-input.--ltr > input {
    text-align: left !important;
    direction: ltr !important;
}

.ht-input > span {
    position: absolute;
    font-size: 16px;
    top: 15px;
    color: rgba(var(--amt-text-color-rgb), .5);
    user-select: none;
    transition: all ease .3s
}

body.rtl .ht-input > span:not(._icon_) {
    right: 16px;
    left: unset;
}
body.ltr .ht-input > span:not(._icon_) {
    left: 16px;
    right: unset;
}
.ht-input.--ltr > span:not(._icon_) {
    left: 16px !important;
    right: unset !important;
}

.ht-input > input:focus + span:not(._icon_), .ht-input > input:not(:placeholder-shown) + span:not(._icon_) {
    font-size: 13px;
    top: 5px;
    color: var(--amt-primary);
    transition: all ease .3s
}

.ht-input-row, .ht-input > ._icon_ {
    display: flex;
    align-items: center
}

.ht-input > ._icon_ {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: rgba(var(--amt-text-color-rgb), .8);
    background: var(--amt-input-bg);
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    justify-content: center
}

.ht-input > svg.iconhub {
    width: 22px;
    margin: 0 8px;
}

body.rtl .ht-input > ._icon_ {
    left: 0;
    right: unset;
}
body.ltr .ht-input > ._icon_{
    right: 0;
    left: unset;
}
.ht-input.--ltr > ._icon_ {
    right: 0 !important;
    left: unset !important
}

.ht-input-row {
    flex-wrap: wrap
}

.ht-input-row > .ht-input {
    flex: 1;
    margin: 8px
}

@media (max-width: 992px) {
    .ht-input-row > .ht-input {
        flex: 0 0 100%
    }
    .ht-input-row {
        padding: 0 8px;
    }
}

.ht-input-row:not(.not-center) {
    justify-content: center
}

body:not(.light) .ht-input > input:focus + span, body:not(.light) .ht-input > input:not(:placeholder-shown) + span {
    color: rgba(var(--amt-text-color-rgb), .7)
}

.ht-input-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--amt-primary);
    color: #fff;
    z-index: 1;
}